[submodule "references/mkosi-kernel"]
	path = references/mkosi-kernel
	url = https://github.com/DaanDeMeyer/mkosi-kernel
[submodule "references/mkosi"]
	path = references/mkosi
	url = https://github.com/systemd/mkosi
[submodule "references/run_qemu"]
	path = references/run_qemu
	url = https://github.com/pmem/run_qemu
[submodule "references/reproducible-mkosi"]
	path = references/reproducible-mkosi
	url = https://github.com/edgelesssys/reproducible-mkosi
